body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: #622424;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #34020e;
}

#bookmarkList {
    list-style-type: none;
    padding: 0;
}

#bookmarkList li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #761828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-info {
    flex: 1;
}

.delete-btn {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background: darkred;
}
